@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);

@keyframes slideup {
  to {
    bottom: 0px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 0.9;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 30px;
}

dl {
  margin-bottom: 0px !important;
}

#search-form  {
  .dashicons-search {
    color: #ccc;
  }
}

#main-container {
  margin-bottom: $navbar-height;
  margin-top: $navbar-height;
}

#presentation {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 15px;
}

#footer {
  font-size: small;
  min-height: 30px !important;
  padding-top: 5px;
}

#footer a {
  color: $text-color;
  text-decoration: none;
}

#latest-releases {
  bottom: -100px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 0px 5px #aaa);
}

#latest-releases:hover {
    animation: slideup 0.3s forwards;
}

#latest-releases p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
}

#latest-releases ul.list-group {
  border: 1px solid #bbb;
  border-radius: 5px;
}

.latest-releases-heading {
  background: #eee;
}

.cover {
  background: #eee;
  padding-bottom: 16%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-heading {
  clear: both;
}

.album-info {
  color: #f1f1f1;
  font-size: 0.8em;
  padding: 5px 10px;
  position: absolute;
  opacity: 0.9;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.album-info-index {
  z-index: 10;
}

.album-info-background {
  background: #111;
  color: transparent;
  opacity: 0.3;
  z-index: 0;
}

.cover:hover .album-info-background{
    animation: fadeIn 0.5s forwards;
}

.album-item {
  padding: 0px !important;
}
